@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@if (User.Identity.IsAuthenticated)
{
    <table class="table table-responsive-sm">
        @foreach (var claim in User.Claims)
        {
            <tr>
                <td>@claim.Type</td>
                <td>@claim.Value</td>
                <td>@claim.Issuer</td>
            </tr>
        }
    </table>
}


@{
    var clm = User.Claims.FirstOrDefault(c => c.Type == "Chavdar");
    if (clm == null)
    {
        <p> Няма клейм за правилен потребител</p>
    }
    else
    {
        <p> Потребител със @clm.Value е логнат</p>
    }
}

<a asp-controller="Chavdar" asp-action="Index">Запис на сертификата</a>